.checkout-header {
  .login-wrapper {
    color: $text_white;
    background-color: $primary_black;
    padding: 18px 30px;
    a {
      text-decoration: none;
      &:hover {
        color: $secondary_color;
      }
    }
  }
  .coupon-wrapper {
    margin-top: 30px;
    padding: 18px 30px;
    border: 1px solid #e9e9e9;
    a {
      text-decoration: none;
      &:hover {
        color: $secondary_color;
      }
    }
  }
}
.billing-details {
  margin-top: 80px;
  h3 {
    font-size: 30px;
  }
  form {
    label {
      margin-bottom: 13px;
      margin-top: 24px;
    }
    input {
      width: 100%;
      height: 60px;
      padding: 17px 26px;
    }
    select {
      width: 100%;
      height: 60px;
    }
    .Street {
      margin-bottom: 20px;
    }
    textarea {
      width: 100%;
      height: 180px;
      border: 1px solid #e8e8e8;
      &:focus {
        outline: none;
      }
    }
  }
}
.oder-details {
  margin-top: 68px;

  h3 {
    font-size: 30px;
  }
  .order-list {
    margin-top: 25px;
    border: 1px solid #e8e8e8;
    padding: 34px 40px;

    .product-name {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 24px;
      align-items: center;
      span {
        color: $primary_black;
        font-weight: 500;
      }
      .product-list {
        margin-top: 30px;
        display: flex;
        column-gap: 20px;
        margin-bottom: 10px;
        .product-items-name {
          h6 {
            font-size: 14px;
            color: $secondary_color;
            text-transform: uppercase;
          }
        }
      }
    }
    .last-list {
      margin-top: 30px;
      &.total-price {
        border: none;
        align-items: stretch;
        p {
          font-weight: 500;
          color: $primary_black;
        }
        span {
          color: $secondary_color;
        }
      }
    }
  }
  .form-check {
    padding: 0;
    margin-bottom: 10px;
    label {
      font-weight: 400;
      color: $primary_black;
    }
    p {
      margin: 0;
      padding-top: 14px;
      padding-bottom: 10px;
    }
    span {
      display: inline-block;
      padding-top: 20px;
      padding-bottom: 10px;
      a {
        text-decoration: none;
        color: $secondary_color;
      }
    }
  }
  .order-btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
  }
}
