.default-header-section {
  background-color: $primary_black;

  .container {
    max-width: 1680px;
  }
}

.top-header {
  border-bottom: 1px solid $border_color;
  max-height: 38px;
  line-height: 38px;

  .header-quick-links {
    ul {
      display: flex;
      column-gap: 50px;
      flex-wrap: wrap;

      li {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 1px;
          background-color: $border_color;
          height: 100%;
          right: -25px;
        }

        &:last-child {
          &::after {
            content: none;
          }
        }

        a {
          text-decoration: none;
          color: $text_white;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;

          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }

  .drop-manu {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    .top-header-right {
      display: flex;
      flex-wrap: wrap;
      column-gap: 50px;
      justify-content: end;

      > div {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 1px;
          background-color: $border_color;
          height: 100%;
          right: -25px;
        }

        &:last-child {
          &::after {
            content: none;
          }
        }
      }

      select {
        background-color: $primary_black;
        border: none;
        color: $text_white;

        &:hover {
          color: $secondary_color;
        }
      }

      a {
        text-decoration: none;
        color: $text_white;

        &:hover {
          color: $secondary_color;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    display: none;
  }
}

.bottom-header {
  max-height: 97px;
  padding: 33px 0;

  .main-manu {
    ul {
      display: flex;
      column-gap: 50px;
      flex-wrap: wrap;
      justify-content: center;

      li {
        a {
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: $text_white;

          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }
}

.main-menu-navigation {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.header-right {
  ul {
    display: flex;
    justify-content: end;
    column-gap: 50px;
    align-items: center;

    li {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 1px;
        background-color: $border_color;
        height: 100%;
        right: -25px;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }

    a {
      &#side-cart {
        i {
          padding-right: 10px;
        }
      }

      text-decoration: none;

      span,
      i {
        color: $text_white;
        text-decoration: none;
        font-size: 18px;

        &:hover {
          color: $secondary_color;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.breadcrumb {
  background-image: url("/assets/img/bgimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  margin: 0;
}

/*** End Top Header ***/

/* Start Sticky */

.main-header {
  position: relative;

  &.sticky-on {
    top: 0;
    width: 100%;
    z-index: 20;
    position: fixed;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-timing-function: ease;
    transition: 0.3s all ease-in-out;
    background-color: red;
    box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
    padding: 10px 0;

    .top-header {
      display: none;
    }

    .menu-header {
      .main-menu {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
      }
    }

    .navigation-main-area {
      .dropdown {
        .dropdown-menu {
          top: 60px;
        }
      }
    }
  }
}

/* End Sticky */

/*** Start Main Header ***/

.menu-header {
  .container {
    position: relative;
  }

  .main-menu {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #00715d;
    padding: 26px 60px;
    top: 85px;
    left: 0;
  }
}

/* Start Navigation area */

.navigation-main-area {
  padding-left: 100px;

  ul {
    display: flex;
    justify-content: center;
    column-gap: 32px;
  }
}

.navigation-main-area li a {
  color: $text_white;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;

  &:hover {
    color: $secondary_color;
  }
}

.navigation-main-area .dropdown .dropdown-menu {
  top: 65px;
  left: 0;
  opacity: 0;
  z-index: 5;
  margin: 0;
  padding: 0;
  height: auto;
  width: 220px;
  border: none;
  display: block;
  border-radius: 0;
  visibility: hidden;
  position: absolute;
  background-clip: inherit;
  background-color: #fff;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out 0.3s;
  box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);

  li {
    width: 100%;
    margin-left: 0;

    a {
      position: relative;
      width: 100%;
      color: $primary_black;
      display: block;
      font-size: 16px;
      padding: 14px 25px;
      transition: 0.3s all ease-in-out;
      text-decoration: none;
      line-height: 1;

      &::before {
        content: "\f054";
        font-family: "Font Awesome 6 Free";
        position: absolute;
        font-weight: 700;
        top: 28%;
        right: 15px;

        transform: translateY(-50%);
        opacity: 0;
        transform: translateX(15px);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        padding-right: 40px;
        color: $secondary_color;

        &::before {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

.navigation-main-area .dropdown {
  position: relative;

  .dropdown-menu {
    .dropdown {
      .dropdown-menu {
        top: 0;
        left: 100%;
      }
    }
  }

  &:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

/*Mobile Menu */

/*-------------------*/

.mobile_menu_content {
  top: 0;
  bottom: 0;
  left: -350px;
  height: 100vh;
  z-index: 101;
  position: fixed;
  width: 310px;
  overflow-y: scroll;
  background-color: #464647;
  padding: 20px 35px 35px 35px;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.19);
  transition: all 0.5s ease-in;
}

.mobile_menu_content .mobile-main-navigation {
  width: 100%;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav {
  width: 100%;
}

.mobile_menu_content .dropdown:after {
  display: none;
}

.mobile_menu_content2 .dropdown:after {
  display: block;
}

.mobile_menu_content .navbar-nav .dropdown-menu {
  position: static !important;
  transform: none !important;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav li {
  width: 100%;
  display: block;
  transition: 0.3s all ease-in-out;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav li a {
  width: 100%;
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 30px 10px 0;
  border-bottom: 1px solid rgba(245, 245, 245, 0.17);
  text-decoration: none;

  &:hover {
    color: $secondary_color;
  }
}

.mobile_menu_content .m-brand-logo {
  width: 150px;
  margin-bottom: 50px;
}

.mobile_menu_wrap.mobile_menu_on .mobile_menu_content {
  left: 0;
  transition: all 0.7s ease-out;
}

.mobile_menu_overlay {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  right: 0;
  height: 120vh;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease-in-out;
}

.mobile_menu_overlay_on {
  overflow: hidden;
}

.mobile_menu_wrap.mobile_menu_on .mobile_menu_overlay {
  opacity: 1;
  visibility: visible;
}

.mobile_menu_button {
  color: #fff;
  display: none;
  cursor: pointer;
  font-size: 30px;
  line-height: 0px;
  text-align: right;
}

.mobile_menu .mobile-main-navigation .navbar-nav li a:after {
  display: none;
}

.mobile_menu .mobile-main-navigation .dropdown > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu {
  border: none;
  display: none;
  transition: none;
  box-shadow: none;
  padding: 5px 0px;
  width: 100%;
  background-color: transparent;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu
  li {
  border: none;
  padding: 0 10px;
  line-height: 1;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu
  li:hover {
  background-color: transparent;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu
  li
  a {
  color: #fff !important;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu
  li
  a:hover {
  color: #e25645;
  background-color: transparent;
}

.mobile_menu .dropdown {
  position: relative;
}

.mobile_menu .dropdown .dropdown-btn {
  color: #9397a7;
  position: absolute;
  top: 3px;
  right: 0;
  height: 30px;
  padding: 5px 10px;
}

.mobile_menu .dropdown .dropdown-btn.toggle-open {
  transform: rotate(90deg);
}

.mobile_menu .mobile_menu_close {
  color: #d60606;
  cursor: pointer;
  top: 25px;
  right: 25px;
  font-size: 20px;
  position: absolute;
}

.scroll-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00715d;
  width: 50px;
  height: 50px;
  color: #fff;
  bottom: 50px;
  right: 50px;
  box-shadow: 0 24px 36px 0 rgba(54, 4, 185, 0.18);
  border-radius: 7px;
  cursor: pointer;
  z-index: 10;

  i {
    animation: bounce 2s ease infinite;
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $primary_black;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 11;
  &.open {
    opacity: 0.5;
    visibility: visible;
  }
}
.side-newletter {
  text-align: center;
  margin: 100px 0;

  h2 {
    font-size: 24px;
    font-family: $primary_font;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    height: 50px;
    padding: 13px 25px;
    margin-bottom: 15px;
  }

  button {
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
}
// .sidemenu-wrap {
//   position: fixed;
//   right: -420px;
//   transform: translateX(420px);
//   // opacity: 0;
//   // visibility: hidden;
//   max-width: 420px;
//   top: 0;
//   background-color: #fff;
//   transition: all 0.3s ease-in-out;
//   box-shadow: 0px 30px 23px rgba(0, 0, 0, 0.07);
//   z-index: 22;
//   padding: 120px 40px 20px;
//   &.sidebar-open {
//     right: 0;
//     visibility: visible;
//     opacity: 1;
//     transform: translateX(0);
//   }
.side-scroll {
  width: 485px;
}

.side-manu {
  margin-top: 120px;
  h2 {
    text-align: center;
    font-family: $secondary_font;
    text-transform: uppercase;
  }

  p {
    text-align: center;
    max-width: 268px;
    margin: 0 auto;
    a {
      text-decoration: none;

      &:hover {
        color: $paragraph_color;
      }
    }
  }
}
// }
.side-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.side-manu-select {
  border-top: 1px solid #ededed;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;

  select {
    border: none;
  }

  .account-manu {
    a {
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $secondary_color;
      }
    }
  }
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 10%;
  transform: translateY(400px);
  width: 380px;
  top: 151px;
  background-color: $text_white;
  transition: all 0.3s ease-in-out;
  color: $primary_black;
  opacity: 0;
  padding: 30px;
  box-shadow: 0px 30px 23px rgba(0, 0, 0, 0.07);
  z-index: 22;
  ul {
    max-height: 290px;
    overflow-y: scroll;
  }

  .cart-product {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;

    .cart-thumb {
      flex: 0 0 100px;
    }

    .cart-product-details {
      a {
        display: block;
        text-decoration: none;
      }

      ins {
        text-decoration: none;
        color: $secondary_color;
      }

      span {
        font-size: 14px;
        color: $paragraph_color;
      }
    }
  }

  .total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    span {
      font-size: 18px;
      color: $primary_black;
    }

    ins {
      text-decoration: none;
      color: $secondary_color;
    }
  }

  &.cart-open {
    top: 137px;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.search-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #12111148;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 22;
  &.popup {
    opacity: 1;
    visibility: visible;
  }
  .side-newletter {
    position: relative;
    margin: 20% auto;
    max-width: 900px;
    .uroan-btn {
      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }
}
