.default-header-section {
  background-color: $primary_black;
  .container {
    max-width: 1680px;
  }
}
.top-header {
  border-bottom: 1px solid $border_color;
  padding: 10px 0;
  .header-quick-links {
    ul {
      display: flex;
      column-gap: 50px;
      flex-wrap: wrap;
      li {
        a {
          text-decoration: none;
          color: $text_white;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }
  .drop-manu {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    .row {
      justify-content: end;
    }
    select {
      background-color: $primary_black;
      border: none;
      color: $text_white;
      &:hover {
        color: $secondary_color;
      }
    }
    a {
      text-decoration: none;
      color: $text_white;
      &:hover {
        color: $secondary_color;
      }
    }
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.bottom-header {
  padding: 38px 0;
  .main-manu {
    ul {
      display: flex;
      column-gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
      li {
        a {
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: $text_white;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }
}
.main-menu-navigation {
  @media screen and (max-width: 991px) {
    display: none;
  }
}
.header-right {
  display: flex;
  justify-content: end;
  column-gap: 25px;
  a {
    span,
    i {
      color: $text_white;
      text-decoration: none;
      font-size: 18px;
      &:hover {
        color: $secondary_color;
      }
    }
  }
}
.breadcrumb {
  background-image: url("/assets/img/bgimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  margin: 0;
}

/*** End Top Header ***/

/* Start Sticky */

.main-header {
  position: relative;
  &.sticky-on {
    top: 0;
    width: 100%;
    z-index: 20;
    position: fixed;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-timing-function: ease;
    transition: 0.3s all ease-in-out;
    background-color: red;
    box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
    padding: 10px 0;
    .top-header {
      display: none;
    }
    .menu-header {
      .main-menu {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
      }
    }
    .navigation-main-area {
      .dropdown {
        .dropdown-menu {
          top: 60px;
        }
      }
    }
  }
}

/* End Sticky */

/*** Start Main Header ***/

.menu-header {
  .container {
    position: relative;
  }
  .main-menu {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #00715d;
    padding: 26px 60px;
    top: 85px;
    left: 0;
  }
}

/* Start Navigation area */

.navigation-main-area {
  text-align: right;
  ul {
    display: flex;
    justify-content: center;
    column-gap: 32px;
  }
}

.navigation-main-area li a {
  color: $text_white;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  &:hover {
    color: $secondary_color;
  }
}

.navigation-main-area .dropdown {
  position: relative;
}

.navigation-main-area .dropdown .dropdown-menu {
  top: 76px;
  left: 0;
  opacity: 0;
  z-index: 5;
  margin: 0;
  padding: 0;
  height: auto;
  width: 250px;
  border: none;
  display: block;
  border-radius: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  background-clip: inherit;
  background-color: #fff;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out 0.3s;
  box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);
}

.navigation-main-area .dropdown .dropdown-menu li {
  width: 100%;
  margin-left: 0;
  border-bottom: 1px solid #e5e5e5;
  &:hover {
    a {
      padding-left: 40px;
      &::before {
        // display: block;
        opacity: 1;
        transform: translateX(25px);
      }
    }
  }
}

.navigation-main-area .dropdown .dropdown-menu li a {
  width: 100%;
  color: $primary_black;
  display: block;
  font-size: 18px;
  padding: 10px 25px;
  position: relative;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
}

.navigation-main-area .dropdown .dropdown-menu li a:before {
  // display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 1px;
  opacity: 0;
  background-color: $primary_black;
  transform: translateX(15px);
  transition: all 0.3s ease-in-out;
}

.navigation-main-area .dropdown .dropdown-menu li a:hover {
  background-color: $secondary_color;
  color: $primary_black;
}

.navigation-main-area .dropdown .dropdown-menu li:last-child {
  border-bottom: none;
}

.navigation-main-area .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/*Mobile Menu */

/*-------------------*/

.mobile_menu_content {
  top: 0;
  bottom: 0;
  left: -350px;
  height: 100vh;
  z-index: 101;
  position: fixed;
  width: 310px;
  overflow-y: scroll;
  background-color: #464647;
  padding: 20px 35px 35px 35px;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.19);
  transition: all 0.5s ease-in;
}

.mobile_menu_content .mobile-main-navigation {
  width: 100%;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav {
  width: 100%;
}

.mobile_menu_content .dropdown:after {
  display: none;
}

.mobile_menu_content2 .dropdown:after {
  display: block;
}

.mobile_menu_content .navbar-nav .dropdown-menu {
  position: static !important;
  transform: none !important;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav li {
  width: 100%;
  display: block;
  transition: 0.3s all ease-in-out;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav li a {
  width: 100%;
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 30px 10px 0;
  border-bottom: 1px solid rgba(245, 245, 245, 0.17);
  text-decoration: none;
  &:hover {
    color: $secondary_color;
  }
}

.mobile_menu_content .m-brand-logo {
  width: 150px;
  margin-bottom: 50px;
}

.mobile_menu_wrap.mobile_menu_on .mobile_menu_content {
  left: 0;
  transition: all 0.7s ease-out;
}

.mobile_menu_overlay {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  right: 0;
  height: 120vh;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease-in-out;
}

.mobile_menu_overlay_on {
  overflow: hidden;
}

.mobile_menu_wrap.mobile_menu_on .mobile_menu_overlay {
  opacity: 1;
  visibility: visible;
}

.mobile_menu_button {
  color: #fff;
  display: none;
  cursor: pointer;
  font-size: 30px;
  line-height: 0px;
  text-align: right;
}

.mobile_menu .mobile-main-navigation .navbar-nav li a:after {
  display: none;
}

.mobile_menu .mobile-main-navigation .dropdown > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu {
  border: none;
  display: none;
  transition: none;
  box-shadow: none;
  padding: 5px 0px;
  width: 100%;
  background-color: transparent;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu
  li {
  border: none;
  padding: 0 10px;
  line-height: 1;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu
  li:hover {
  background-color: transparent;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu
  li
  a {
  color: #fff !important;
}

.mobile_menu
  .mobile_menu_content
  .mobile-main-navigation
  .navbar-nav
  .dropdown-menu
  li
  a:hover {
  color: #e25645;
  background-color: transparent;
}

.mobile_menu .dropdown {
  position: relative;
}

.mobile_menu .dropdown .dropdown-btn {
  color: #9397a7;
  position: absolute;
  top: 3px;
  right: 0;
  height: 30px;
  padding: 5px 10px;
}

.mobile_menu .dropdown .dropdown-btn.toggle-open {
  transform: rotate(90deg);
}

.mobile_menu .mobile_menu_close {
  color: #d60606;
  cursor: pointer;
  top: 25px;
  right: 25px;
  font-size: 20px;
  position: absolute;
}
.scroll-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00715d;
  width: 50px;
  height: 50px;
  color: #fff;
  bottom: 50px;
  right: 50px;
  box-shadow: 0 24px 36px 0 rgba(54, 4, 185, 0.18);
  border-radius: 7px;
  cursor: pointer;
  z-index: 10;

  i {
    animation: bounce 2s ease infinite;
  }
}
