/*********** Responsive CSS **************/

@media screen and (max-width: 1024px) {
  .top-header {
    display: none;
  }
  .main-header {
    &.sticky-on {
      padding: 10px 15px;
    }
  }
  .menu-header {
    .container {
      padding: 0;
    }
    .main-menu {
      position: relative;
      top: 0;
      padding: 15px 40px;
    }
  }
  .mobile_menu_button {
    display: block;
  }
  .navigation-main-area {
    display: none;
  }
  .navigation-main-area ul {
    display: flex;
    justify-content: center;
  }
  .display-none {
    display: none;
  }
  // Home 02
  .grid-item {
    flex: 0 0 32%;
    &.grid-item-1 {
      flex: 0 0 32%;
      min-width: 32%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .grid-item-content {
    transform: translateY(180px);
  }
  // Event Details
  .ed-list {
    li {
      &::before {
        top: 30%;
      }
    }
  }
  // Contact Page css
  .contact-box {
    padding: 30px 15px;
  }
}
