.banner {
  background-image: url(/assets/img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 70px;
  margin-bottom: 40px;

  a {
    text-decoration: none;
    font-size: 30px;
    color: $primary_black;
    margin-top: 58px;
    display: inline-block;
  }
  button {
    margin-bottom: 70px;
    width: 150px;
    height: 50px;
    background-color: $text_white;
  }
}
.shop-product-content {
  a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: $secondary_color;
    display: inline-block;
  }
  h5 {
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
      color: $primary_black;
      margin-bottom: 9px;
      display: inline-block;
      text-transform: capitalize;
    }
  }
  .price {
    ins {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      color: $primary_black;
    }
  }
  p {
    margin-top: 15px;
    margin-bottom: 39px;
  }
  .cart-btn {
    button {
      background-color: transparent;
    }
  }
  .cart-icon {
    button {
      border: 1px solid #e8e8e8;
      padding: 18px;
    }
  }
}
