.color-fliter {
  ul{
   > li{
    font-weight: 300;
    color: $primary_black;
    margin-bottom: 10px;
    position: relative;
    padding-left: 32px;
    &::before{
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-color: #EB9A3C;
      left: 0;
      border-radius: 50%;
     }
     span{
      position: absolute;
      right: 0;
     }
     &:nth-child(2){
      &::before{
        background-color: #FAA9D9;
      }
      }
      &:nth-child(3){
        &::before{
          background-color: #99C88D;
        }
     }
     &:nth-child(4){
      &::before{
        background-color: #A9BFFA;
      }
   }
   &:nth-child(5){
    &::before{
      background-color: #EEEACA;
    }
 }
  }
}
}
.product-brands{
  li{
    position: relative;
    span{
      position: absolute;
      right: 0;
    }
    input{
      margin-right: 7px;
    }
    margin-bottom: 9px;
  }
}
.product-gap {
  margin-bottom: 40px;
}
.pagination-gap {
  margin-top: 60px;
}
.product-range {
  display: inherit;
}

.related-products {
  .notices-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .form-select {
      max-width: 178px;
      width: 100%;
      height: 50px;
      border-radius: inherit;
      box-shadow: none;
    }
  }
}
.pb-60 {
  margin-bottom: 60px !important;
}
.widget-post {
  display: flex;
  justify-content: space-between;
}
