.product-description {
  .description-header {
    .product-tabs-area {
      nav {
        ul {
          button {
            background-color: transparent;
            border: none;
            padding-right: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
