@import "scss/fonts";
@import "scss/variables";
body {
  font-family: $primary_font;
  color: $paragraph_color;
  line-height: 1.56;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary_black;
  line-height: 1.2;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
a {
  color: inherit;
}
.container {
  max-width: 1320px;
}
.default-header-section {
  background-color: $primary_black;
  .container {
    max-width: 1680px;
  }
}
.top-header {
  border-bottom: 1px solid $border_color;
  padding: 10px 0;
  .header-quick-links {
    ul {
      display: flex;
      column-gap: 50px;
      li {
        a {
          text-decoration: none;
          color: $text_white;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }
  .drop-manu {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    a {
      text-decoration: none;
      color: $text_white;
    }
  }
}

.bottom-header {
  padding: 38px 0;
  .main-manu {
    ul {
      display: flex;
      column-gap: 50px;
      li {
        a {
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: $text_white;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }
}
.header-right {
  column-gap: 50px;
  .right-elements {
    span {
      font-weight: 400;
      font-size: 14px;
      color: $text_white;
    }
  }
}
.breadcrumb {
  background-image: url(/assets//img/bgimg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}
.blog-section {
  padding-top: 60px;
  .blog-grid {
    position: relative;
    margin-bottom: 60px;
    .box-img {
      .blog-date {
        position: absolute;
        background-color: $primary_black;
        width: 150px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: $text_white;
        left: 0;
        top: 0;
      }
    }
    .blog-cate {
      padding-top: 30px;
      a {
        text-decoration: none;
        &:hover {
          color: $secondary_color;
        }
      }
    }
    .heading-text {
      padding-top: 10px;
      a {
        text-decoration: none;
        &:hover {
          color: $secondary_color;
        }
      }
    }
    .blog-paragraph {
      padding: 15px 0;
      p {
        padding: 0;
        margin: 0;
      }
    }
    .blog-link {
      a {
        color: #121111;
        font-weight: 400;
        font-size: 14px;
        &:hover {
          color: $secondary_color;
        }
      }
    }
  }
}
.pagination-wrapper {
  margin-bottom: 120px;
  .pagination {
    column-gap: 15px;
    .page-item {
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: $third_color;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        color: $primary_black;
        &:hover {
          color: $text_white;
          background-color: $primary_black;
        }
      }
    }
  }
}
// main-footer

.newsletter-wraper {
  text-align: center;
  h6 {
    color: $secondary_color;
    font-weight: 300;
    font-size: 14px;
    font-family: primary_font;
  }
  h3 {
    color: $primary_black;
    font-family: $secondary_font;
    font-weight: 400;
    font-size: 40px;
    padding-top: 30px;
  }
  input {
    width: 696px;
    height: 60px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .privacy-policy {
    padding-top: 30px;
    span {
      font-weight: 300;
      font-size: 14px;
      font-family: $primary_font;
    }
    a {
      color: $primary_black;
    }
  }

  .main-footer {
    padding-top: 120px;
    background-color: $third_color;
    .footer-logo {
      p {
        width: 320px;
        padding-top: 40px;
        font-weight: 300;
        font-size: 16px;
        font-family: $primary_font;
        color: $paragraph_color;
      }
    }
    .footer-heading {
      font-size: 20px;
    }
  }
}
