@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
body {
  font-family: "Prompt", serif;
  color: #74787c;
  line-height: 1.56;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #121111;
  line-height: 1.2;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  color: inherit;
}

.container {
  max-width: 1320px;
}

.uroan-btn {
  width: 160px;
  height: 46px;
  color: #ffffff;
  background-color: #121111;
}

.sub-heading {
  color: #f36a07;
  font-weight: 300;
  font-size: 14px;
  font-family: primary_font;
}

.heading {
  color: #121111;
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 40px;
  padding-top: 30px;
}

.default-header-section {
  background-color: #121111;
}
.default-header-section .container {
  max-width: 1680px;
}

.top-header {
  border-bottom: 1px solid #3d3d3d;
  padding: 10px 0;
}
.top-header .header-quick-links ul {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.top-header .header-quick-links ul li a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.top-header .header-quick-links ul li a:hover {
  color: #f36a07;
}
.top-header .drop-manu {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.top-header .drop-manu a {
  text-decoration: none;
  color: #ffffff;
}

.bottom-header {
  padding: 38px 0;
}
.bottom-header .main-manu ul {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: center;
}
.bottom-header .main-manu ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.bottom-header .main-manu ul li a:hover {
  color: #f36a07;
}

.header-right {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.header-right .right-elements span {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.breadcrumb {
  background-image: url(/assets//img/bgimg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.blog-section {
  padding-top: 60px;
}
.blog-section .blog-grid {
  position: relative;
  margin-bottom: 60px;
}
.blog-section .blog-grid .box-img .blog-date {
  position: absolute;
  background-color: #121111;
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  left: 0;
  top: 0;
}
.blog-section .blog-grid .blog-cate {
  padding-top: 30px;
}
.blog-section .blog-grid .blog-cate a {
  text-decoration: none;
}
.blog-section .blog-grid .blog-cate a:hover {
  color: #f36a07;
}
.blog-section .blog-grid .heading-text {
  padding-top: 10px;
}
.blog-section .blog-grid .heading-text a {
  text-decoration: none;
}
.blog-section .blog-grid .heading-text a:hover {
  color: #f36a07;
}
.blog-section .blog-grid .blog-paragraph {
  padding: 15px 0;
}
.blog-section .blog-grid .blog-paragraph p {
  padding: 0;
  margin: 0;
}
.blog-section .blog-grid .blog-link a {
  color: #121111;
  font-weight: 400;
  font-size: 14px;
}
.blog-section .blog-grid .blog-link a:hover {
  color: #f36a07;
}

.pagination-wrapper {
  margin-bottom: 120px;
}
.pagination-wrapper .pagination {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.pagination-wrapper .pagination .page-item a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #F6F6F6;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #121111;
}
.pagination-wrapper .pagination .page-item a:hover {
  color: #ffffff;
  background-color: #121111;
}

.blog-details {
  padding: 60px 0 120px;
}
.blog-details .post-meta {
  padding-top: 50px;
}
.blog-details .blog-heading {
  padding-top: 15px;
}
.blog-details .blog-heading h2 {
  font-size: 36px;
}
.blog-details .blog-description {
  margin-top: 30px;
}
.blog-details .blog-description .para-spacing {
  margin-top: 50px;
}
.blog-details .blog-description .blog-paragraph p {
  font-weight: 300;
}
.blog-details .blog-description .blog-sub-heading h3 {
  font-size: 24px;
  margin-top: 30px;
}
.blog-details .blog-description .blog-images {
  margin-top: 60px;
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.blog-details .blog-description .bottom-paragraph {
  margin-top: 35px;
}
.blog-details .blog-description .social-tag {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 60px;
}
.blog-details .blog-description .button-tags span {
  font-weight: 500;
  color: #121111;
}
.blog-details .blog-description .button-tags ul {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.blog-details .blog-description .button-tags ul span {
  padding-top: 7px;
}
.blog-details .blog-description .button-tags ul li a {
  border: 1px solid #e6e6e6;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  padding: 7px 9px;
}
.blog-details .blog-description .button-tags ul li a:hover {
  color: #ffffff;
  background-color: #121111;
}
.blog-details .blog-description .social-share span {
  text-transform: uppercase;
  font-weight: 500;
  color: #121111;
}
.blog-details .blog-description .social-share ul {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.blog-details .blog-description .author {
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e8e8e8;
}
.blog-details .blog-description .author h3 {
  margin-bottom: 40px;
}
.blog-details .blog-description .author .author-box {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.blog-details .blog-description .author .author-box .author-text h4 {
  font-size: 24px;
}
.blog-details .blog-description .author .author-box .author-text p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.blog-details .blog-description .author .author-box .author-text .author-social-icon {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.main-footer {
  padding: 120px 0 40px;
  background-color: #F6F6F6;
}
.main-footer .newsletter-wraper {
  text-align: center;
  max-width: 696px;
  margin: 0 auto 120px;
}
.main-footer .newsletter-wraper .newsletter-form {
  margin-top: 60px;
  position: relative;
}
.main-footer .newsletter-wraper .newsletter-form input {
  height: 60px;
  padding: 18px 30px;
  width: 100%;
  border: 1px solid #dedede;
  background-color: transparent;
}
.main-footer .newsletter-wraper .newsletter-form input:focus {
  outline: none;
}
.main-footer .newsletter-wraper .newsletter-form .uroan-btn {
  position: absolute;
  right: 7px;
  top: 7px;
}
.main-footer .newsletter-wraper .privacy-policy {
  padding-top: 30px;
}
.main-footer .newsletter-wraper .privacy-policy span {
  font-weight: 300;
  font-size: 14px;
  font-family: "Prompt", serif;
}
.main-footer .newsletter-wraper .privacy-policy a {
  color: #121111;
}
.main-footer .footer-wrapper {
  background-color: #ffffff;
  margin: 0 40px;
  padding: 40px 0 40px;
}
.main-footer .footer-wrapper .footer-widget {
  padding-bottom: 80px;
}
.main-footer .footer-wrapper .footer-widget .footer-about p {
  width: 320px;
  padding-top: 25px;
  font-weight: 300;
  font-size: 16px;
  font-family: "Prompt", serif;
  color: #74787c;
}
.main-footer .footer-wrapper .footer-widget .footer-about .social-icon ul {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 10px;
}
.main-footer .footer-wrapper .footer-widget .footer-about .social-icon ul .icon-hover:hover {
  color: #f36a07;
}
.main-footer .footer-wrapper .contact-footer .footer-heading {
  font-weight: 400;
  font-size: 20px;
  color: #121111;
}
.main-footer .footer-wrapper .contact-footer li {
  margin-bottom: 5px;
}
.main-footer .footer-wrapper .contact-footer li a {
  text-decoration: none;
  font-weight: 300;
  color: #74787c;
}
.main-footer .footer-wrapper .contact-footer li a:hover {
  color: #f36a07;
}

.footer-bottom {
  padding-top: 46px;
  border-top: 1px solid #efefef;
}
.footer-bottom .footer-base-link ul {
  display: flex;
  justify-content: end;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.footer-bottom .footer-base-link ul #svg-icon:hover {
  color: #f36a07;
}