// blog-details
.blog-details {
  padding: 60px 0 120px;
  .post-meta {
    padding-top: 50px;
    span {
      font-weight: 300;
    }
  }
  .blog-heading {
    padding-top: 15px;
    h2 {
      font-size: 36px;
    }
  }
  .blog-description {
    margin-top: 30px;
    .para-spacing {
      margin-top: 50px;
    }
    .blog-paragraph {
      p {
        font-weight: 300;
      }
    }
    .blog-sub-heading {
      h3 {
        font-size: 24px;
        margin-top: 30px;
      }
    }
    .blog-images {
      margin-top: 60px;
      display: flex;
      column-gap: 25px;
    }
    .bottom-paragraph {
      margin-top: 35px;
    }
    .social-tag {
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 60px;
    }
    .button-tags {
      span {
        font-weight: 500;
        color: $primary_black;
      }
      ul {
        display: flex;
        column-gap: 25px;
        span {
          padding-top: 7px;
        }
        li {
          a {
            border: 1px solid #e6e6e6;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            display: inline-block;
            padding: 7px 9px;
            &:hover {
              color: $text_white;
              background-color: $primary_black;
            }
          }
        }
      }
    }
    .social-share {
      span {
        text-transform: uppercase;
        font-weight: 500;
        color: $primary_black;
      }
      ul {
        column-gap: 15px;
      }
    }
    .author {
      margin-top: 60px;
      padding-bottom: 60px;
      border-bottom: 1px solid #e8e8e8;
      h3 {
        margin-bottom: 40px;
      }
      .author-box {
        column-gap: 30px;
        .author-text {
          h4 {
            font-size: 24px;
          }
          p {
            margin-top: 20px;
            margin-bottom: 30px;
          }
          .author-social-icon {
            display: flex;
            column-gap: 10px;
          }
        }
      }
    }
    .comments {
      margin-top: 60px;
      h3 {
        font-size: 30px;
      }
      .comment-list {
        li {
          ul {
            li {
              margin-left: 100px;
            }
          }
        }
      }
      .comment-box {
        column-gap: 30px;
        margin-top: 40px;
        display: flex;
        .comment-text {
          position: relative;
          h4 {
            margin-bottom: 15px;
          }
          border-bottom: 1px solid #e8e8e8;
          padding-bottom: 25px;
          .comment-date {
            margin-bottom: 10px;
          }
          .comment-reply {
            position: absolute;
            right: 0;
            top: 0;
            a {
              font-size: 14px;
              color: $primary_black;
              text-decoration: none;
            }
          }
        }
        .comment-author {
          flex: 0 0 100px;
        }
      }
    }
  }
  .customer-review {
    margin-top: 60px;
    .review-heading {
      p {
        margin-top: 20px;
      }
    }
    form {
      margin-top: 40px;
      input {
        width: 100%;
        height: 55px;
        background-color: $third_color;
        border: none;
        padding: 15px 0 16px 25px;
      }
      textarea {
        margin-top: 20px;
        height: 170px;
        background-color: $third_color;
        border: none;
        width: 100%;
        padding: 15px 0 0 25px;
      }
      button {
        margin-top: 30px;
        width: 160px;
        height: 55px;
        font-weight: 500;
        font-size: 14px;
        border: none;
        &:hover {
          color: $text_white;
          background-color: $primary_black;
        }
      }
    }
  }
  .sidebar {
    padding-left: 35px;

    .widget {
      margin-bottom: 30px;
      h3 {
        font-size: 24px;
        color: $primary_black;
        position: relative;
        margin-bottom: 50px;
        &::after {
          position: absolute;
          background-color: $primary_black;
          height: 1px;
          width: 50px;
          top: 50px;
          left: 0;
          content: "";
        }
      }
      &.search-widget {
        h3 {
          &::after {
            content: none;
          }
        }
        input {
          width: 100%;
          height: 50px;
          background-color: $third_color;
          border: none;
          padding: 15px 0 16px 25px;
        }
      }
    }
    .category-widget {
      ul {
        margin-top: 54px;
        li {
          a {
            text-decoration: none;
          }
        }
      }
    }
    .latest-widget {
      display: flex;
      column-gap: 15px;

      .widget-img {
        flex: 0 0 90px;
      }
    }
    &.widget-post {
      margin-top: 0px;
    }
    .latest-widget-details {
      span {
        font-size: 14px;
      }
      p {
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
        color: $primary_black;
      }
    }
  }
  .widget-button {
    margin-top: 51px;
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    li {
      a {
        border: 1px solid #e6e6e6;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        display: inline-block;
        padding: 7px 9px;
        &:hover {
          background-color: $primary_black;
          color: $text_white;
        }
      }
    }
  }
  .widget-img-box {
    margin-top: 51px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
}
