body {
  background-color: $third_color;
}
.product-section {
  .product-heading {
    .caption-sub-title {
      color: $secondary_color;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    h3 {
      font-size: 36px;
      color: $primary_black;
      margin-bottom: 20px;
    }
    i {
      color: $primary_black;
      margin-bottom: 20px;
    }

    .product-text {
      margin: 30px 0;
      padding: 26px 0;
    }
    .price {
      font-size: 22px;
      color: $primary_black;
    }
  }
  .mr-shipping-selivary-return {
    display: flex;

    .shipping-selivary-return {
      display: flex;
      column-gap: 14px;

      p {
        color: $primary_black;
      }
    }
  }
  .wishlist {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    p {
      font-weight: 500;
      font-size: 14px;
      color: $primary_black;
      text-transform: uppercase;
    }
  }
  .sku-section {
    margin-top: 20px;
    ul {
      a {
        text-decoration: none;
        &:hover {
          color: $paragraph_color;
        }
      }
    }
  }
  .cart {
    margin-top: 30px;
  }
  .product-side-img {
    img {
      margin-bottom: 24px;
    }
  }
}
.product-description {
  background-color: $text_white;
  padding: 226px 0 120px;
  .related-products {
    border-top: 1px solid #e8e8e8;
    padding-top: 120px;
  }

  .description-paragraph {
    width: 824px;
    margin-top: 35px;
  }
  .mr-shipping-selivary-return {
    .shipping-selivary-return {
      display: flex;
      column-gap: 14px;
      p {
        color: $primary_black;
      }
    }
  }

  .description-img {
    padding-bottom: 120px;
    margin-top: 35px;
    position: relative;
    .img-play-icon {
      position: absolute;
      top: 37px;
      left: 173px;
    }
  }
}
.product-thumb {
  display: flex;
  column-gap: 24px;
}
.product-action {
  display: flex;
  column-gap: 20px;
  align-items: center;
  .cart-btn {
    button {
      width: 180px;
      height: 50px;
      column-gap: 5px;
    }
  }
  .wishlist {
    button {
      border: none;
      background-color: transparent;
    }
  }
}
