$primary_font: "Prompt", serif;
$secondary_font: "Italiana", serif;
$primary_black: #121111;
$third_color:#F6F6F6;
$paragraph_color: #74787c;
$secondary_color: #f36a07;
$text_white: #ffffff;
$border_color: #3d3d3d;
